.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #1c122b;
    padding: 30px;
    box-shadow: 0 4px 30px rgba(53, 79, 119, 0.1);
    border-radius: 24px;
    transition: 0.7s;
    opacity: 0;
    position: fixed;
    z-index: 1;
    top: -100px;
    left: 400px;
    right: 50px;

    &.scrollable {
        top: 0;
        opacity: 1;
    }

    .language {
        width: 83px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 15px 0;
        position: relative;
        border-top-left-radius: 17px;
        border-top-right-radius: 17px;

        &:hover {
            background: #15101d;
        }

        .active {
            display: flex;
            align-items: center;
            gap: 10px;
            font-weight: 600;
            font-size: 16px;
        }

        &:hover {
            .selector {
                display: block;
            }
        }

        img {
            width: 30px;
        }

        .selector {
            width: 83px;
            top: 50px;
            position: absolute;
            z-index: 1;
            display: none;
            background: #15101d;
            border-bottom-left-radius: 17px;
            border-bottom-right-radius: 17px;
            padding: 15px 0;
            font-weight: 600;
            font-size: 16px;
            text-transform: uppercase;
            text-align: center;

            span {
                color: #ffffff;
                font-weight: 600;
                font-size: 16px;
                cursor: pointer;

                &:hover {
                    color: #8c55fe;
                }
            }
        }
    }

    .rightCol {
        display: flex;
        align-items: center;
        gap: 40px;

        .links {
            display: flex;
            align-items: center;
            gap: 10px;

            .email {
                font-size: 22px;
                font-weight: 700;
            }
        }

        .button {
            border: none;
            border: 2px solid #8c55fe;
            background: none;
            color: #8c55fe;
            box-sizing: border-box;
            padding: 15px 30px;
            border-radius: 100px;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            font-size: 20px;
            font-weight: 700;

            &:hover {
                padding: 13px 28px;
                border: 4px solid #8c55fe;
            }
        }
    }
}
