.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #1c122b;
    padding: 30px;
    box-shadow: 0 4px 30px rgba(53, 79, 119, 0.1);
    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 24px;
    transition: 0.7s;
    opacity: 0;
    position: fixed;
    z-index: 1;
    top: -100px;
    left: 400px;
    right: 50px;

    @media (max-width: 1320px) {
        padding: 20px 10px 20px 0;
    }
    @media (max-width: 1150px) {
        left: 370px;
        right: 20px;
    }
    @media (max-width: 768px) {
        display: none;
    }

    &.scrollable {
        top: 0;
        opacity: 1;
    }

    .rightCol {
        display: flex;
        align-items: center;
        gap: 40px;

        @media (max-width: 1320px) {
            gap: 20px;
        }

        @media (max-width: 1150px) {
            gap: 15px;
        }

        .links {
            display: flex;
            align-items: center;
            gap: 10px;

            @media (max-width: 1150px) {
                gap: 5px;
            }
            @media (max-width: 1040px) {
                display: block;

                a {
                    display: block;
                    margin-top: 5px;

                    &:first-child {
                        margin-top: 0;
                    }
                }

                .line {
                    display: none;
                }
            }

            .email {
                font-size: 22px;
                font-weight: 700;

                @media (max-width: 1320px) {
                    font-size: 17px;
                }
                @media (max-width: 850px) {
                    font-size: 15px;
                }
            }
        }

        .button {
            border: none;
            border: 2px solid #8c55fe;
            background: none;
            color: #8c55fe;
            box-sizing: border-box;
            padding: 15px 30px;
            border-radius: 100px;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            font-size: 20px;
            font-weight: 700;

            &:hover {
                padding: 13px 28px;
                border: 4px solid #8c55fe;
            }

            @media (max-width: 1320px) {
                padding: 10px 20px;

                &:hover {
                    padding: 8px 18px;
                }
            }
            @media (max-width: 1060px) {
                font-size: 16px;
            }
        }
    }
}
