.mainDescription {
}

.list {
    margin-top: 20px;
    list-style: none;

    li {
        margin-top: 35px;

        &:first-child {
            margin-top: 0;
        }

        p {
            margin-top: 15px;
        }

        img {
            margin-top: 10px;
        }

        .small {
            font-size: 12px;
        }
    }
}

.description {
    margin-top: 20px;
}

.photos {
    margin-top: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}
.photosAdditional {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}
