.list {
    margin-top: 50px;
    list-style: none;

    li {
        margin-top: 35px;

        &:first-child {
            margin-top: 0;
        }

        p {
            margin-top: 15px;
        }

        .small {
            font-size: 12px;
        }
    }
}
