.aside {
    padding: 20px;
    background: #1d132e;
    margin: 15px;
    border-radius: 28px;
    position: fixed;
    left: 0;
    right: 0;
    top: -100px;
    bottom: 0;
    z-index: 1;
    opacity: 0;
    transition: 0.7s;
    max-height: 65px;
    overflow: hidden;

    @media (max-width: 500px) {
        max-height: 50px;
        margin: 10px;
        padding: 15px;
    }

    @media (min-width: 768px) {
        display: none;
    }

    &.opened {
        max-height: 350px;
        overflow-y: scroll;
        z-index: 10;

        .linksWrapper {
            z-index: 10;
        }
    }

    &.scrollable {
        top: 0;
        opacity: 1;
    }

    img {
        max-width: 20px;
    }

    .asideWrapper {
        min-height: 0;

        button {
            background: none;
            border: none;
            width: 60px;
            height: 60px;
            display: flex;
            align-items: center;
            justify-content: center;
            border: 2px solid #fd7081;
            border-radius: 50%;

            @media (max-width: 500px) {
                width: 50px;
                height: 50px;
            }

            img {
                width: 30px;
                height: auto;
                max-width: none;
                border-radius: 0;

                @media (max-width: 500px) {
                    width: 23px;
                    height: auto;
                }
            }
        }

        .top {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .logo {
                display: flex;
                align-items: center;
                gap: 14px;
                font-size: 26px;
                font-weight: 800;
                color: #ffffff;

                @media (max-width: 500px) {
                    font-size: 20px;
                }

                img {
                    max-width: 50px;
                    border-radius: 0;

                    @media (max-width: 500px) {
                        max-width: 40px;
                    }
                }
            }
        }

        .linksWrapper {
            z-index: -1;
            margin-top: 20px;
            display: grid;
            grid-template-rows: 0fr;
            transition: 0.7s;
            overflow: hidden;

            &.opened {
                grid-template-rows: 1fr;
            }

            .wrapper {
                min-height: 0;

                .item {
                    background: #2a1a44;
                    border-radius: 24px;
                    padding: 30px;
                    margin-top: 10px;
                    z-index: 1;

                    @media (max-width: 500px) {
                        padding: 20px;
                    }

                    &:first-child {
                        margin-top: 0;
                    }

                    .top {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        cursor: pointer;
                        z-index: 1;

                        .title {
                            font-weight: 700;
                            font-size: 18px;
                        }

                        .arrow {
                            transition: 0.3s;

                            &.reversed {
                                transform: rotate(180deg);
                            }
                        }
                    }

                    .links {
                        display: grid;
                        grid-template-rows: 0fr;
                        transition: 0.7s;
                        overflow: hidden;
                        margin-top: 0;

                        &.opened {
                            grid-template-rows: 1fr;
                        }

                        .wrapper {
                            min-height: 0;

                            .linkWrapper {
                                display: flex;
                                align-items: center;
                                margin-top: 15px;

                                a {
                                    color: var(--white);
                                    text-decoration: none;
                                    display: block;
                                    font-size: 17px;
                                    line-height: 22px;
                                    margin-left: 15px;
                                    transition: 0.3s;
                                    cursor: pointer;
                                    z-index: 1;

                                    &:hover {
                                        color: #fd7081;
                                    }

                                    &:first-child {
                                        margin-top: 0;
                                    }

                                    &.linkActive {
                                        color: #8c55fe;

                                        font-weight: 600;

                                        &:hover {
                                            color: #8c55fe;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
