.tableWrapper {
    max-width: 1160px;
    overflow: auto;
    padding-bottom: 5px;
    margin-top: 20px;

    .table {
        width: 100%;
        white-space: nowrap;
        border-collapse: collapse;
        border-spacing: 0;
        font-size: 22px;
        line-height: 32px;
        background: rgba(0, 0, 0, 0.17);

        @media (max-width: 500px) {
            margin-top: 15px;
            font-size: 16px;
            line-height: 14px;
        }

        thead {
            tr {
                background: #242a4d;
                border-top-left-radius: 7px;
                border-top-right-radius: 7px;
                border-bottom-left-radius: 7px;
                border-bottom-right-radius: 7px;

                th {
                    padding-left: 15px;
                    padding-top: 10px;
                    padding-bottom: 10px;
                    text-align: start;

                    @media (max-width: 500px) {
                        padding-left: 7.5px;
                    }
                }
            }
        }

        tbody {
            tr {
                &:last-child {
                    border-bottom-left-radius: 7px;
                    border-bottom-right-radius: 7px;

                    td {
                        border-bottom: none;

                        &:first-child {
                            border-bottom-left-radius: 7px;
                        }
                        &:last-child {
                            border-bottom-right-radius: 7px;
                        }
                    }
                }

                td {
                    padding-left: 15px;
                    padding-top: 10px;
                    padding-bottom: 10px;
                    border-bottom: 1px solid #242a4d;

                    @media (max-width: 500px) {
                        padding-left: 7.5px;
                    }

                    &.tdSecond,
                    &.tdFourth {
                        background: rgba(255, 255, 255, 0.02);
                    }

                    &.buttonTd {
                        button {
                            background: #7e000f;
                            border: none;
                            color: #ffffff;
                            transition: 0.3s;
                            box-sizing: border-box;
                            padding: 5px 10px;
                            border-radius: 7px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            cursor: pointer;
                            font-size: 18px;

                            &:hover {
                                background: #470008;
                            }
                        }
                    }
                }
            }
        }
    }
}
