@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";
@import "react-toastify/dist/ReactToastify.css";

* {
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    grid-template-columns: 350px auto;
    color: #ffffff;
    background: #1f233f;

    @media (max-width: 768px) {
        grid-template-columns: 1fr;
    }
}

main {
    padding: 50px;
    padding-top: 0;
    overflow: hidden;
    position: relative;

    div {
        position: relative;
    }

    @media (max-width: 768px) {
        padding: 15px;
        padding-top: 0;
    }
}

h1 {
    margin-top: 20px;
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 50px;
    margin-top: 140px;

    @media (max-width: 768px) {
        margin-bottom: 30px;
        font-size: 28px;
    }
    @media (max-width: 500px) {
        margin-top: 100px;
    }
}

h2 {
    font-size: 28px;
    font-weight: 700;

    @media (max-width: 768px) {
        font-size: 24px;
    }
}

p {
    font-size: 22px;
    line-height: 34px;
    color: #d0d0d0;

    @media (max-width: 768px) {
        font-size: 20px;
        line-height: 30px;
    }
}

ul,
ol {
    list-style: none;
}

a {
    color: #8c55fe;
    text-decoration: none;
    transition: 0.3s;
    cursor: pointer;

    &:hover {
        color: #fd7081;
    }
}

img {
    width: 100%;
    max-width: 600px;
    height: auto;
    border-radius: 16px;
}

.main-section-bg-1 {
    left: -300px;
    top: 250px;
    position: fixed;
    background: rgba(140, 85, 254, 0.42);
    width: 550px;
    height: 550px;
    filter: blur(226px);
    z-index: -1;
}
.main-section-bg-2 {
    right: 0;
    top: 50%;
    position: fixed;
    background: rgba(189, 0, 255, 0.23);
    width: 550px;
    height: 550px;
    filter: blur(226px);
    z-index: -1;
}
.main-section-bg-3 {
    top: 25%;
    left: 40%;
    position: fixed;
    background: rgba(0, 209, 255, 0.23);
    width: 25%;
    height: 550px;
    transform: rotate(-147.05deg);
    filter: blur(226px);
    z-index: -1;
}

/* custom dots slider */
.slick-list {
    outline: none;
}

.custom-dots {
    display: flex !important;
    justify-content: center;
}

.custom-dots {
    padding: 0;
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translate(-50%, 0);

    @media (max-width: 991px) {
        bottom: 20px;
    }

    li {
        width: 20px;
        height: 4px;
        margin: 0 10px;
        background-color: #ffffff4d;
        border-radius: 2px;
        cursor: pointer;
        display: block;
        transition: 0.3s;

        div {
            opacity: 0;
        }

        &:hover {
            background-color: #ffffff;
            opacity: 0.7;
        }
    }
}

.custom-dots li.slick-active {
    background-color: #ffffff;
    width: 80px;

    @media (max-width: 600px) {
        width: 60px;
    }
}
