.mainDescription {
}

.description {
    margin-top: 20px;
}

.list {
    margin-top: 20px;
    list-style: none;

    li {
        margin-top: 20px;

        &:first-child {
            margin-top: 0;
        }

        p {
            margin-top: 10px;
        }
    }
}