.list {
    li {
        margin-top: 35px;

        @media (max-width: 500px) {
            margin-top: 25px;
        }

        &:first-child {
            margin-top: 0;
        }

        p {
            margin-top: 15px;

            @media (max-width: 500px) {
                margin-top: 10px;
            }
        }

        img {
            margin-top: 15px;

            @media (max-width: 500px) {
                margin-top: 10px;
            }
        }

        .shcemeNumbers {
            margin-top: 0;

            li {
                margin-top: 10px;
                font-size: 18px;
                color: #bcbcbc;
                margin-left: 20px;
            }
        }
    }
}

.bottomDescription {
    margin-top: 20px;
}

.images {
    margin-top: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}
