.list {
    li {
        margin-top: 10px;
        display: grid;
        grid-template-columns: 1fr 2fr;
        gap: 40px;
        border-bottom: 1px dashed rgba(255, 255, 255, 0.126);
        padding-bottom: 10px;

        @media (max-width: 600px) {
            grid-template-columns: 1fr 1fr;
            gap: 20px;
        }
        @media (max-width: 350px) {
            p {
                font-size: 18px;
                line-height: 22px;
            }
        }

        &:first-child {
            margin-top: 0;
        }

        .key {
            color: #ffffff;
        }

        .value {
            opacity: 0.7;
        }
    }
}
